/* Portrait */
@media screen and (orientation:portrait) {
    .home img-loader {
        height:150px !important;
    }
 }
 /* Landscape */
 @media screen and (orientation:landscape) {
    .home img-loader {
        height:250px !important;
    }
 }

 .home-slider h3 {
     margin-bottom: 0px;
 }

 .home-slider .grid {
     padding:0px;
}