<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>MyMovies</ion-title>

    <ion-buttons end>
      <button (click)="searchToggle()" class="nav-search">
          <ion-icon name="search" class="nav-search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div class="home-slider">
    <h3>New</h3>
    <ion-slides (ionSlideReachEnd)="reachLastSlide('new')">
      <ion-slide *ngFor="let slides of newSlides">
        <ion-grid>
          <ion-row>
            <ion-col col-4 *ngFor="let slide of slides">
              <img src="../../assets/images.jpg" title="{{slide.MovieName}}">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>