.detail-image
 { 
    width: 100%;
}
.title{
    font-size: 25px;
}       
.container {
    height: 450px;
}
.sumary{
    margin-top: 10px;
    margin-bottom: 10px;
}
.spacer{
    margin-bottom: 10px;
}