<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>MyMovies</ion-title>

        <ion-buttons end>
            <button (click)="searchToggle()" class="nav-button-right">
            <ion-icon name="search" class="nav-button-right"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row wrap>
            <ion-col col-12 col-sm-6 class="container">
                <img-loader src="{{movie.Poster}}" title="{{movie.Title}}" backgroundSize="cover"></img-loader>
                <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="bookmark"></ion-icon>
                    </button>
                  </ion-fab>
            </ion-col>
            <ion-col col-12 col-sm-6>
                <div class="title">{{movie.Title}}</div>
                <div class="genre">{{movie.formatText(movie.Genre)}}</div>
                <div class="year-and-rating">{{yearAndRating(movie)}}</div>
                <mov-star-rating rate="{{movie.Rate}}" *ngIf="showStarRating" (tap)="showStarRating=!showStarRating"></mov-star-rating>
                <div class="rate" *ngIf="!showStarRating" (tap)="showStarRating=!showStarRating">{{movie.Rate}}</div>
                <div class="sumary">{{movie.Summary}}</div>

                <div class="stars"><span>Stars:</span> {{movie.formatText(movie.Stars)}}</div>
                <div class="directors" *ngIf="movie.Directors != ''"><span>Directors:</span> {{movie.formatText(movie.Directors)}}</div>
                <div class="writers" *ngIf="movie.Writers != ''"><span>Writers:</span> {{movie.formatText(movie.Writers)}}</div>
                <div class="spacer"></div>

                <div class="country" *ngIf="movie.Country != ''"><span>Country:</span> {{movie.Country}}</div>
                <div class="language" *ngIf="movie.Language != ''"><span>Language:</span> {{movie.Language}}</div>
                <div class="aka" *ngIf="movie.AlsoKnownAs != ''"><span>Also Known As:</span> {{movie.AlsoKnownAs}}</div>
                <div class="budget" *ngIf="movie.Budget != ''"><span>Budget:</span> {{movie.Budget}}</div>
                <div class="gross" *ngIf="movie.Gross != ''"><span>Gross:</span> {{movie.Gross}}</div>
                <div class="spacer"></div>

                <div class="datecreated" *ngIf="movie.DateCreated != ''"><span>Date Created:</span> {{movie.DateCreated}}</div>
                <div class="location" *ngIf="movie.Location != ''"><span>Location:</span> {{movie.Location}}</div>
                <div class="remarks" *ngIf="movie.Remarks != ''"><span>Remarks:</span> {{movie.Remarks}}</div>
                <div class="filename" *ngIf="movie.FileName != ''"><span>File Name:</span> {{movie.FileName}}</div>
                <div class="filesize" *ngIf="movie.FileSize != ''"><span>File Size:</span> {{movie.FileSize}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="title" *ngIf="relatedMovieSlides.length > 0">Related Movies</div>
            <ion-slides>
                <ion-slide *ngFor="let slide of relatedMovieSlides">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-4 *ngFor="let movie of slide.Movies" (tap)="selectMovie(movie)" (press)="addToWatchList(movie)">
                                <img-loader src="{{movie.Poster}}" title="{{movie.Title}}" height="150px" backgroundSize="{{imageBgSize}}"></img-loader>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>
        </ion-row>
    </ion-grid>
</ion-content>