ion-icon[name=add] {
    color:white;
}

.item-md h2 {
    color:$title-color;
    font-weight: bolder;
}

.item-md p {
    color:white;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #484848;
  }